.wrapper
  = render "groups/header"
  .main
    .content
      .group-name
        = @group.name
      .review
        - @messages.each do |message|
          .review__box
            .review__box__image
              =image_tag message.image.url,size: "188x188"if message.image.present?
            .review__box__contents
              .review__box__contents__content
                = message.content
              .right_username
                = message.user.name
                さん
              .review__box__contents__text
                = message.text
              - if user_signed_in? 
                .link-to-chat
                  =link_to group_message_chats_path(@group.id,message.id)  do
                    チャット
              - else
  .footer
    .form
      = form_for search_group_messages_path(@group.id), local: true, method: :get, class: "search-form" do |form|
        = form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input"
        = form.submit "検索", class: "search-btn"
    - if user_signed_in? 
      .post-btn
        =link_to new_group_message_path(@group.id) ,class: "post-btn" do
          .post-btn__wide
            .post-btn__wide__content
              .post-btn__wide__content__text
                投稿
              .post-btn__wide__content__icon
                %i.fa.fa-pen-nib
    - else