.wrapper
  = render "groups/header"
  .main
    .content
      .group-name
        = @group.name
      .review
        - @messages.each do |message|
          .review__box
            .review__box__image
              =image_tag message.image.url,size: "188x188"
            .review__box__contents
              .review__box__contents__content
                = message.content
              .right_username
                = message.user.name
                さん
              .review__box__contents__text
                = message.text
              
  .footer
    = paginate(@messages)