.wrapper
  = render "groups/header"
  .main
    .content
      .content__main
        .container
          %h2.registration
            投稿
          .registration-form
            = form_for @message,method: :post,url:messages_path(@message.id) do |f|
              .form-contents
                .form-group
                  %label{for: "content"} 
                  %span.require-message 必須
                  = f.text_field :content, class:'input-default', placeholder: '題名'
                .form-group
                  %label{for: "text"} 
                  %span.require-message 必須
                  = f.text_field :text, class:'input-default', placeholder: '説明'
                .form__mask
                  = f.label :image, class: 'form__mask__image' do
                    = icon('fas', 'image', class: 'icon')
                    = f.file_field :image, class: 'hidden'
                .form-group 
                =f.submit "追加" ,class:"btn-red", type:"submit"
  = render "groups/footer"
