.wrapper
  = render "header"
  .main
    .content
      .content__main
        .container
          %h2.registration
            ジャンル追加
          .registration-form
            = form_for @group,method: :post,url:groups_path(@group.id) do |f|
              .form-contents
                .form-group
                  %label{for: "name"} 
                  %span.require-message 必須
                  = f.text_field :name, class:'input-default', placeholder: 'ジャンル'
                .form__mask
                  = f.label :image, class: 'form__mask__image' do
                    = icon('fas', 'image', class: 'icon')
                    = f.file_field :image, class: 'hidden'
                .form-group 
                =f.submit "追加" ,class:"btn-red", type:"submit"
  = render "footer"