.wrapper
  = render "groups/header"
  .main
    .content
      .content__main
        .container
          %h2.registration
            新規会員登録
          .registration-form
            = form_for @user, method: :post,url: users_path  do |f|
              .form-contents
                .form-group
                  %label{for: "nickname"} ニックネーム
                  %span.require-message 必須
                  = f.text_field :name, autofocus: true, maxlength: "6", class:'input-default', placeholder: 'ニックネーム'
                .form-group
                  %label{for: "email"} メールアドレス
                  %span.require-message 必須
                  = f.email_field :email,class:'input-default', placeholder: 'PC・携帯どちらでも可'
                %input{name: "login_type",type: "hidden",value: ""}/
                .form-group.form-password-revelation
                  %label{for: "password"} パスワード
                  %span.require-message 必須
                  = f.password_field :password, class:'input-default',placeholder: '6文字以上'
                  .form-password-revelation-toggle
                    .checkbox-default
                      = f.password_field :password_confirmation, class:'input-default' ,placeholder: '6文字以上'
                .form-group 
                  =f.submit "登録" ,class:"btn-red", type:"submit"               
  .footer
  