.wrapper
  = render "groups/header"
  .main
    .content
      .content__main
        .chat-space
          - @chats.each do |chat|
            .chat-box
              .user-name
                = chat.user.name
                さん
              .comment
                = chat.comment
              .created-at
                = chat.created_at.strftime("%Y/%m/%d %H:%M")
        .chat__main__form
          = form_for [@group,@message,@chat],method: :post,url: group_message_chats_path(@group.id,@message.id,@chat.id) do |f|
            = f.text_field :comment, class: 'chat__main__form__message', placeholder: 'type a message'
            .chat__main__form__mask
            = f.submit 'Send', class: 'form__submit'
  .paginate
    = paginate(@chats)
    